.ofd-theme-light {color:#000 !important; background-color:#f5f8fa !important}
.ofd-theme-dark {color:#fff !important; background-color:#2b4654 !important}
.ofd-theme-action {color:#fff !important; background-color:#2b4654 !important}

.ofd-theme {color:#fff !important; background-color:#578ca9 !important}
.ofd-text-theme {color:#578ca9 !important}
.ofd-border-theme {border-color:#578ca9 !important}

.ofd-hover-theme:hover {color:#fff !important; background-color:#578ca9 !important}
.ofd-hover-text-theme:hover {color:#578ca9 !important}
.ofd-hover-border-theme:hover {border-color:#578ca9 !important}

filter-white{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

h1{
  font-size: 3vw;
}

#content{
  font-size: 2vw;
}

table{
  font-size: 1.5vw;
}

.reminder{
  color: darkred;
}

li{
  color:#578ca9 !important
}